@use '../../utils/styles/_colors' as c;

.auth_form {
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  align-self: center;
  margin-top: 100px;

  &__header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  input {
    width: 100%;
    margin: 8px 0;
    transition: transform 0.14s ease-in-out;
    &:hover, &:focus {
      transform: scale(1.01);
    }
  }

  &__btn {
    margin-top: 24px;
    align-self: flex-end;
  }
}