@use '../../../utils/styles/_colors' as c;

.file {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  border-bottom: solid 2px c.$font-color;
  align-items: center;
  transition: background-color 0.16s ease-in;
  &:hover {
    background-color: rgba(193, 216, 255, 0.36);
    .file__btn {
      transform: scale(1, 1);
    }
  }
  &__img {
    justify-self: center;
  }
  &__name {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  &__date {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }
  &__btn {
    transform: scale(1, 0);
    margin: 0 8px;
  }
}