@use '../utils/styles/_colors' as c;

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~reset-css";

html {
  font: 10px/1 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: c.$background-color;
  font-size: 14px;
  line-height: 20px;
}

textarea, input, button, select {
  font: 14px/20px 'Roboto', sans-serif;
  color: c.$font-color;
}

.button {
  border: none;
  color: c.$background-color;
  background-color: c.$font-color;
  border-radius: 4px;
  font-weight: 700;
  padding: 8px 16px;
  transition: all 0.21s ease-out;
  cursor: pointer;
  &:hover {
    background-color: #4d5d75;
  }
  &:active {
    background-color: c.$font-color;
  }
}

#root {
  width: 100%;
  color: c.$font-color;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.content-loader {
  &__content {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: c.$font-color;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
      &:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      &:nth-child(3) {
        left: 48px;
        animation: lds-ellipsis2 0.6s infinite;
      }
      &:nth-child(4) {
        left: 98px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40px, 0);
  }
}
