@use '../../utils/styles/_colors' as c;

.disk {
  min-height: calc(100vh - 50px - 32px);
  margin-top: 32px;

  &__header-right {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      width: 36px;
      height: 36px;
      cursor: pointer;
      line-height: 1;
      border: none;
      background: transparent;
      transition: all 0.16s ease-in-out;
      border-radius: 8px;
      &:hover {
        background-color: rgba(86, 104, 133, 0.21);
      }
      img {
        display: block;
      }
      &.order-btn {
        width: 70px;
        margin-right: 12px;
        img {
          transition: transform 0.22s ease-in-out;
          width: 60px;
        }
        &.asc {
          img {
            transform: scale(1, 1)
          };
        }
        &.desc {
          img {
            transform: scale(1, -1)
          };
        }
      }
      &.type-view-btn {
        margin-left: 4px;
        img {
          width: 66%;
        }
        &.active {
          cursor: default;
          background-color: rgba(86, 104, 133, 0.21);
        }
      }
    }
    select {
      margin-right: 20px;
      padding: 0 8px;
      width: 120px;
      height: 100%;
      outline: none;
      border: none;
      background: transparent;
      font-size: 18px;
      border-radius: 8px;
      transition: all 0.16s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: rgba(86, 104, 133, 0.21);
      }
    }
  }

  &__btn {
    display: block;
  }

  &__btnCreate {
    margin-left: 10px;
  }

  &__upload {
    height: 36px;
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    margin-left: 10px;
    display: inline-block;
  }
}

.drop-area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px 0;
  border: 1px dashed c.$font-color;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.225);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
  }
  &__header {}
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__close {
    font-size: 22px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: background-color 0.16s ease-in;
    cursor: pointer;
    color: c.$font-color;
    &:hover {
      background-color: c.$background-color;
    }
  }
  &__create {
    margin-top: 10px;
    align-self: flex-end;
  }
  input {
    margin: 20px 0;
  }
}