@use '../../utils/styles/_colors' as c;

.disk {
  min-height: calc(100vh - 50px - 20px);
  margin-top: 20px;

  &__btns {}

  &__btn {
    display: block;
  }

  &__btnCreate {
    margin-left: 10px;
  }

  &__upload {
    height: 36px;
  }

  &__upload-input {
    display: none;
  }

  &__upload-label {
    margin-left: 10px;
    display: inline-block;
  }
}

.drop-area {
  width: 100%;
  height: calc(100vh - 50px - 40px);
  margin: 20px 0;
  border: 1px dashed c.$font-color;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.225);
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
  }
  &__header {}
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__close {
    font-size: 22px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: background-color 0.16s ease-in;
    cursor: pointer;
    color: c.$font-color;
    &:hover {
      background-color: c.$background-color;
    }
  }
  &__create {
    margin-top: 10px;
    align-self: flex-end;
  }
  input {
    margin: 20px 0;
  }
}