@use '../../utils/styles/_colors' as c;

.disk {
  margin-top: 20px;

  &__btnCreate {
    margin-left: 10px;
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.225);

  &__content {
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
  }
  &__header {}
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__close {
    font-size: 22px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: background-color 0.16s ease-in;
    cursor: pointer;
    &:hover {
      background-color: c.$background-color;
    }
  }
  &__create {
    border: none;
    background-color: c.$font-color;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 10px;
    align-self: flex-end;
    transition: background-color 0.21s ease-out;
    cursor: pointer;
    &:hover {
      background-color: #4d5d75;
    }
    &:active {
      background-color: c.$font-color;
    }
  }
  input {
    margin: 20px 0;
  }
}