@use '../../utils/styles/_colors' as c;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0px rgba(0,0,0,0.2);

  .navbar {
    width: 100%;
    max-width: 1140px;

    a, &__logout {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      padding: 0 12px;
      border-radius: 4px;
      color: c.$font-color;
      text-decoration: none;
      transition: all 0.21s ease-out;
      cursor: pointer;
      &:hover {
        background-color: rgba(77, 93, 117, 0.12);
      }
      &:active {
        background-color: rgba(77, 93, 117, 0.26);
      }
    }

    &__header {
      margin-left: 12px;
      font-size: 24px;
      font-weight: 700;
    }

    &__login {
      margin-left: auto;
      margin-right: 4px;
    }

    &__logout {
      margin-left: auto;
    }
  }
}
